h1{
    text-align: center;
}

table{
    margin-top: 20px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    background-color: black;
    
}