body{
    background-color: blue;
}



.tema{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.situacion{
    background-color: brown;
    display: flex;
    justify-content: center;
}